body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: linear-gradient(-45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee), linear-gradient(-45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb);
  background-size: 20px 20px;
  margin-top: 100px; /* adjust the value to match the height of the footer */
  margin-bottom: 100px; /* adjust the value to match the height of the footer */
   
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
body {
  cursor: url('nya/Normal.cur'), url('custom.ani'), auto;
}


a:active {
  color: hotpink;
}

.imageshowcase {
  display: flex;
  flex-wrap: wrap;
  max-width: 50vw; /* Set the maximum width to 50% of the viewport width */
}

.imageshowcase img {
  width: 300px;
  object-fit: contain;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}




#slideshow {
  width: 500px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
}

.slide {
  float: left;
  width: 100px;
  height: 100px;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.button-container {
  display: flex;
  flex-direction: column;

}

button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  /*background: linear-gradient(to bottom, #f8f8f8, #dddddd);*/
  background-size: 100% 400%;
  transition: background-position 0.5s;
  width: 200px;
  font-size: 24px;
  word-wrap: break-word;
}


@media (max-width: 400px) {
  button {
    font-size: 16px;
  }
}

@media (max-width: 300px) {
  button {
    font-size: 12px;
  }
}


button:hover {
  background-position: 0% -100%;
  background-image: linear-gradient(to bottom, #ff0000, #ff6666, #ff6666, #ff6666, #ff6666);
  cursor: url('nya/Bg.cur'), url('custom.ani'), auto;
}

.white{
  background-color: #ffffff;
}

.red a {
  color: pink;
}

.orange a {
  color: hotpink;
}

.yellow a {
  color: hotpink;
}

.green a {
  color: hotpink;
}

.blue a {
  color: hotpink;
}

.indigo a {
  color: hotpink;
}

.purple a {
  color: hotpink;
}


.red {
  background-color: #ff9a9e; /* pastel red */
}
.orange {
  background-color: #ffdfba; /* pastel orange */
}
.yellow {
  background-color: #ffff9d; /* pastel yellow */
}
.green {
  background-color: #b0ffb0; /* pastel green */
}
.blue {
  background-color: #b0b0ff; /* pastel blue */
}
.indigo {
  background-color: #d8b5ff; /* pastel indigo */
}
.purple {
  background-color: #ff9af7; /* pastel purple */
}
.pink {
  background-color: #ff9ac2; /* pastel pink */
}
.mint {
  background-color: #9affb0; /* pastel mint */
}
.peach {
  background-color: #ff9a9e; /* pastel peach */
}
.lilac {
  background-color: #c69aff; /* pastel lilac */
}
.salmon {
  background-color: #ffb0b0; /* pastel salmon */
}
.aqua {
  background-color: #9ad8ff; /* pastel aqua */
}
.gold {
  background-color: #ffd88f; /* pastel gold */
}
.rose {
  background-color: #ff9aaf; /* pastel rose */
}
.olive {
  background-color: #aaff9a; /* pastel olive */
}
.lavender {
  background-color: #c59aff; /* pastel lavender */
}
.gray {
  background-color: #d1d1d1; /* pastel gray */
}
.brown {
  background-color: #bf8b69; /* pastel brown */
}
.teal {
  background-color: #9ac2ff; /* pastel teal */
}
.container {
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width : 80%;
  height : 80%;
  margin : 0 auto;
  margin-bottom: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.pronoun-container {
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width : 50%;
  height : 50%;
  margin : 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
}


.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-content {
  align-items: flex-start;
  margin-left: 20px;
  flex: 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }
  
  .button-container {
    margin-bottom: 10px;
  }
  
  .other-content {
    margin-left: 0px;
  }
}



.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
}

.nav-links li a:hover {
  color: #f00;
  background-color: #ddd;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
}



footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

footer p {
  margin: 0;
}

#result {
  font-size: 20px;
}



a {
  text-decoration: none;
}

a:visited {
  color: hotpink;
}

a:hover {
  color: pink;
  cursor: url('nya/Bg.cur'), url('custom.ani'), auto;
}
.red a:visited {
  color: pink;
}

.red a:hover {
  color: hotpink;
}